@import "tailwindcss";

/* Import Google Fonts Fira Code */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap");

body {
    font-family: "Fira Code", monospace;
}
